<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c26598">  <td>19/06/24 15:05:30</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;vatbox_testNG.launch_app()[pri:0, instance:vatbox_QA_test.vatbox_testNG@2b552920]">&gt;&gt;launch_app</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@513169028</td>   <td></td> </tr>
<tr bgcolor="c26598">  <td>19/06/24 15:05:34</td>   <td>3868</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="vatbox_testNG.vatbox_login_test()[pri:0, instance:vatbox_QA_test.vatbox_testNG@2b552920]">vatbox_login_test</td> 
  <td>main@513169028</td>   <td></td> </tr>
<tr bgcolor="c26598">  <td>19/06/24 15:05:54</td>   <td>23891</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="vatbox_testNG.navigate_to_Expedite()[pri:1, instance:vatbox_QA_test.vatbox_testNG@2b552920]">navigate_to_Expedite</td> 
  <td>main@513169028</td>   <td></td> </tr>
<tr bgcolor="c26598">  <td>19/06/24 15:05:57</td>   <td>27399</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="vatbox_testNG.navigate_to_P1()[pri:2, instance:vatbox_QA_test.vatbox_testNG@2b552920]">navigate_to_P1</td> 
  <td>main@513169028</td>   <td></td> </tr>
<tr bgcolor="c26598">  <td>19/06/24 15:06:02</td>   <td>31841</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="vatbox_testNG.navigate_to_P2()[pri:3, instance:vatbox_QA_test.vatbox_testNG@2b552920]">navigate_to_P2</td> 
  <td>main@513169028</td>   <td></td> </tr>
<tr bgcolor="c26598">  <td>19/06/24 15:06:04</td>   <td>34194</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="vatbox_testNG.navigate_to_P3()[pri:4, instance:vatbox_QA_test.vatbox_testNG@2b552920]">navigate_to_P3</td> 
  <td>main@513169028</td>   <td></td> </tr>
<tr bgcolor="c26598">  <td>19/06/24 15:06:06</td>   <td>36248</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="vatbox_testNG.navigate_to_navigate()[pri:5, instance:vatbox_QA_test.vatbox_testNG@2b552920]">navigate_to_navigate</td> 
  <td>main@513169028</td>   <td></td> </tr>
<tr bgcolor="c26598">  <td>19/06/24 15:06:08</td>   <td>38463</td> <td>&nbsp;</td><td title="&lt;&lt;vatbox_testNG.closed_vatbox()[pri:0, instance:vatbox_QA_test.vatbox_testNG@2b552920]">&lt;&lt;closed_vatbox</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@513169028</td>   <td></td> </tr>
</table>
