<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6ab965">  <td>19/06/19 17:36:33</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;vatbox_testNG.afterTest()[pri:0, instance:vatbox_QA_test.vatbox_testNG@4445629]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@70807318</td>   <td></td> </tr>
<tr bgcolor="6ab965">  <td>19/06/19 17:36:33</td>   <td>-28</td> <td>&nbsp;</td><td title="&gt;&gt;vatbox_testNG.beforeTest()[pri:0, instance:vatbox_QA_test.vatbox_testNG@4445629]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@70807318</td>   <td></td> </tr>
<tr bgcolor="6ab965">  <td>19/06/19 17:36:33</td>   <td>-9</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="vatbox_testNG.f()[pri:0, instance:vatbox_QA_test.vatbox_testNG@4445629]">f</td> 
  <td>main@70807318</td>   <td></td> </tr>
</table>
